.formacao{
    background-color: var(--cor-secundaria);
}
.formacao-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0px;
}
.formacao-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.formacao-cards-cont{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 24%;
}
.formacao-cards-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin: 12px 0px;
    height: 25vh;

}
.formacao-imagens{
    width: 150px;
}

.formacao-curso{
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5% 1px;
}

.formacao-descricao-cards{
    font-size: 0.9rem;
    padding: 0.5% 2px;
}

@media (max-width: 1150px){
    .formacao-imagens{
        width: 150px;
    }
    .formacao-cards{
        justify-content: space-around;
    }
    .formacao-cards-cont{
        width: 40%;
        
    }
    .formacao-cards-img{
        height: 15vh;
    }
}

@media (max-width: 650px){
    .formacao-imagens{
        width: 100px;
    }
    .formacao-cards-cont{
        width: 70%;
        
    }
    .formacao-cards-img{
        height: 10vh;
    }
}