header{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--cor-text);
}
.barraNav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.barraNav-links{
    display: flex;
    gap: 10px;
}
.barraNav-nome{
    display: flex;
    align-items: center;
    gap: 10px;
}
#barraNav-negrito{
    font-weight: bold;
}

@media (max-width: 1150px){
    .barraNav{
        height: 8vh;
    }
    
}

@media (max-width: 650px){
    .barra-link{
        display: none;
    }

}