.projetos{
    background-color: var(--cor-primaria);
}
.projetosCont{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projetos-img{
    width: 70%;
    box-shadow: 5px 5px 5px;
}


.projeto-container-r, .projeto-container-l{
    display: flex;
    align-items: center;
    padding: 3% 0px;
}
.projeto-1-desc{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.projeto-2-desc{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.titulo-projetos{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.btn-projetos{
    padding-top: 6px;
    display: flex;
    gap: 15px;
}
.btn-repositorio{
    color: var(--cor-azul);
    border: solid 1px var(--cor-azul);
    width: 100px;
    padding: 6px 2px;
    cursor: pointer;
}
.btn-repositorio-link :hover{
    color: #ffffff;
    background-color: #619bec;
}

.btn-demo{
    background-color: var(--cor-azul);
    color: #ffffff;
    border: solid 1px var(--cor-azul);
    width: 100px;
    padding: 6px;
    cursor: pointer;
}
.btn-demo-link :hover{
    background-color: #D4E4FA;
    color: var(--cor-azul);
}

@media (max-width: 800px){
    .btn-demo, .btn-repositorio{
        font-size: 0.8rem;
        width: 80px;
    }
}

@media (max-width: 650px){
    .projetos-img{
        width: 80%;
    }

    .projeto-container-r, .projeto-container-l{
        justify-content: center;
    }
    .projeto-container-l{
        flex-direction: column;
    }
    .projeto-container-r{
        flex-direction: column-reverse;
    }
    .projeto-1-desc, .projeto-2-desc{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titulo-projetos{
        padding-top: 10px;
        width: 100%;
        font-size: 1rem;
    }
}