.skills{
    background-color: var(--cor-primaria);
    padding: 2% 0px;
}
.skills-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-cards-cont{
    color: var(--cor-azul);
    width: 150px;
    height: 150px;
    background-color: white;

    font-weight: bold;
    padding: 10px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 10px;
}

.icons{
    padding: 5% 0px;
    width: 28px;
}


@media (max-width: 1150px){
    .skills-cards{
        justify-content: space-around;
    }
    .skills-cards-cont{
        
        width: 30%;
        height: 100px;
    }
}
@media (max-width: 1150px){
    .skills-cards-cont{
        width: 25%;
        height: 100px;
    }
} 